$primary-brand: (
  50: #ff008c,
  100: #ffe6f4,
  200: #ffcce8,
  300: #ff99d1,
  400: #ff66ba,
  500: #ff008c,
  600: #cc0070,
  A100: #990054,
  A200: #660038,
  A300: #33001c,
  A400: #1a000e,
);

$secondary-brand: (
  50: #f5f5f9,
  100: #e6e6f0,
  200: #cacadc,
  400: #9696b2,
  500: #5e5e8a,
  600: #232361,
  700: #020037,
);

$accent01-brand: (
  50: #fffae2,
  100: #ffef8e,
  200: #ffd900,
  300: #ffae01,
);

$accent02-brand: (
  50: #ede0ff,
  100: #c48fff,
  200: #9e4dff,
  300: #7400ff,
);

$accent03-brand: (
  50: #e0f1fe,
  100: #8ecbff,
  200: #4dafff,
  300: #018cff,
);

$md-pink: (
  50: #ffcce8,
  100: #fbe3f0,
  200: #ff80c6,
  300: #ff4daf,
  400: #ff269d,
  500: #ff008c,
  600: #ff0084,
  700: #ff0079,
  800: #ff006f,
  900: #ff005c,
  A100: #ffffff,
  A200: #fff2f6,
  A400: #ffbfd2,
  A700: #ffa6c0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-blue: (
  40: #e8eeff,
  50: #c5d8f3,
  //#e0e0e7
  100: #ededf9,
  200: #80809b,
  300: #40599c,
  400: #4d6bbc,
  500: #001d6d,
  600: #000031,
  700: #00002a,
  800: #001757,
  900: #000016,
  A100: #5656ff,
  A200: #2323ff,
  A400: #0000ef,
  A700: #0000d5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$bv-brand: (
  50: #fff,
  100: #fafafa,
  200: #f2f2f2,
  300: #f4f6f8,
  400: #ff008c,
  500: #9696b2,
  600: #000037,
  700: #303030,
  800: #272727,
  900: #212121,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: red,
    A200: green,
    A400: rgba(black, 0.87),
    A700: white,
  ),
);
$warn: (
  50: #e0e0e7,
  100: #ececff,
  200: #80809b,
  300: #4d4d73,
  400: #262655,
  500: #df0101,
  // 500: #001d6d,
  600: #242427,
  700: #00002a,
  800: #000023,
  900: #000016,
  A100: #5656ff,
  A200: #2323ff,
  A400: #0000ef,
  A700: #0000d5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$red: (
  50: #ffe8e8,
  100: #ffd3d3,
  200: #fb9a9a,
  300: #f76b6b,
  400: #f53a3a,
  500: #ec0606,
  600: #d80000,
  700: #bf0000,
  800: #8c0000,
  900: #590000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$rose: (
  50: #ffcfdb,
  100: #ffa4ba,
  200: #fc7092,
  300: #f05d81,
  400: #de5383,
  500: #c53e6c,
  600: #a53159,
  700: #a4124e,
  800: #90003b,
  900: #620129,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$gray: (
  10: #ffffff,
  50: #f7f7f7,
  100: #ebebeb,
  200: #d1d1d1,
  300: #b6b6b6,
  400: #9c9c9c,
  500: #828282,
  600: #686868,
  700: #4d4d4d,
  800: #333333,
  900: #000000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
