$rex-font-family: "Rakuten Sans UI", sans-serif;

$rex-font-display: (
  "display-1": 3.538em,
  "display-2": 3.077em,
  "display-3": 2.769em,
  "display-4": 2.462em,
  "display-5": 2.154em,
);

$rex-font-header: (
  "header-1": 1.846em,
  "header-2": 1.538em,
  "header-3": 1.231em,
  "header-4": 1.077em,
  "header-5": 0.923em,
);

$rex-font-body: (
  "lead-body": 1.538em,
  "body-1": 1.231em,
  "body-2": 1.077em,
  "caption": 0.923em,
  "overline": 0.769em,
);

$rex-header: (
  "dialog-box": 1.538em,
  "page": 1.231em,
  "filter-side": 1.077em,
  "confirm-box": 0.923em,
);

$rex-colors: (
  "side-nav": #001757,
  "primary": #ff008c,
  "primary-light-1": #ff33a3,
  "primary-light-4": #ffcce8,
  "white": #ffffff,
  "gray-1000": #000000,
  "gray-900": #333333,
  "gray-800": #4d4d4d,
  "gray-700": #686868,
  "gray-600": #828282,
  "gray-500": #9c9c9c,
  "gray-400": #b6b6b6,
  "gray-300": #d1d1d1,
  "gray-200": #ebebeb,
  "gray-100": #f7f7f7,
  "red-1000": #590000,
  "red-900": #8c0000,
  "red-800": #bf0000,
  "red-700": #d80000,
  "red-600": #ec0606,
  "red-500": #f53a3a,
  "red-400": #f76b6b,
  "red-300": #fb9a9a,
  "red-200": #ffd3d3,
  "red-100": #ffe8e8,
  "orange-1000": #5c3800,
  "orange-900": #7b4b00,
  "orange-800": #995e00,
  "orange-700": #b87100,
  "orange-600": #db8600,
  "orange-500": #f59600,
  "orange-400": #ffb238,
  "orange-300": #ffc870,
  "orange-200": #ffdba3,
  "orange-100": #ffefd6,
  "yellow-1000": #4d3d00,
  "yellow-900": #705a00,
  "yellow-800": #947600,
  "yellow-700": #b89300,
  "yellow-600": #dbaf00,
  "yellow-500": #ffcc00,
  "yellow-400": #ffd633,
  "yellow-300": #ffe066,
  "yellow-200": #ffeb99,
  "yellow-100": #fff5cc,
  "green-1000": #003900,
  "green-900": #005300,
  "green-800": #006c00,
  "green-700": #009500,
  "green-600": #00b900,
  "green-500": #2ac72a,
  "green-400": #5fd95f,
  "green-300": #8de98d,
  "green-200": #bff4bf,
  "green-100": #d9f8d9,
  "light-blue-1000": #00334d,
  "light-blue-900": #004e76,
  "light-blue-800": #006a9e,
  "light-blue-700": #0085c7,
  "light-blue-600": #00a0f0,
  "light-blue-500": #1fb4ff,
  "light-blue-400": #4dc4ff,
  "light-blue-300": #7bd3ff,
  "light-blue-200": #aee4ff,
  "light-blue-100": #dcf3ff,
  "blue-1000": #001d6d,
  "blue-900": #002896,
  "blue-800": #053ace,
  "blue-700": #134ff3,
  "blue-600": #3a6dfa,
  "blue-500": #6c92fb,
  "blue-400": #82a3ff,
  "blue-300": #a0b9ff,
  "blue-200": #c9d7ff,
  "blue-100": #e8eeff,
  "purple-1000": #4b0071,
  "purple-900": #65009a,
  "purple-800": #7d00be,
  "purple-700": #9b00ec,
  "purple-600": #b62aff,
  "purple-500": #c962ff,
  "purple-400": #d78bff,
  "purple-300": #e7b9ff,
  "purple-200": #f1d7ff,
  "purple-100": #f7e7ff,
  "pink-1000": #5a003c,
  "pink-900": #830056,
  "pink-800": #a2006a,
  "pink-700": #cb0085,
  "pink-600": #ef0aa1,
  "pink-500": #ff41be,
  "pink-400": #ff79d1,
  "pink-300": #fface3,
  "pink-200": #ffdaf2,
  "pink-100": #ffe9f8,
  "success": #047205,
  "info": #006497,
  "warning": #f16a00,
  "danger": #df0101,
  "disabled-background": #ebebeb,
  "disabled-text": #d1d1d1,
  "form-normal": #9c9c9c,
  "form-hover": #232361,
  "form-active": #0085c7,
  "form-focus": #686868,
  "form-error": #e60000,
  "form-valid": #069907,
  "alert-success": #ebf7ec,
  "alert-danger": #fff0f0,
);
